/* === VARIABLES === */
$font-catamaran: "Catamaran", sans-serif;
$font-raleway: "Raleway", sans-serif;

$color-bg: #171717;
$color-wrapper: #1A1A1A;
$color-border: #fff;
$color-border-light: #BABABA;
$color-text: #fff;
$color-text-light: #BABABA;
$color-text-muted: #8E8E8E;
$color-red: #D9452D;

$upload-dash: 10px;
$upload-gap: 4px;
$upload-border-width: 1px;

/* === FONTS IMPORT === */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ==== GLOBAL STYLING ==== */
body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-catamaran;
    line-height: 1.5;

    input[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        -moz-appearance: textfield;
    }
}

.mobile {
    display: none !important;
}

/* ==== FORM STICKER ==== */
#sticker-image {
    width: 94px;
    height: 132px;
    position: absolute;
    left: -23px;
    top: -30px;
}

.form-submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* ==== CONTEST FORM ==== */
.enterwell-contest-form {
    display: grid;
    grid-template-columns: 1fr 2px 1.2fr;
    gap: 2rem;
    align-items: stretch;
    height: 100%;

    #divider {
        height: 100%;
        width: 2px;
        background-color: $color-border;
    }
}

/* Overlay */
.overlay {
    opacity: 0.26;
}

/* ==== WRAPPER ==== */
.enterwell-form-wrapper {
    position: relative;
    width: 631px;
    min-height: 598px;
    background: $color-wrapper;
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 50px 100px;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.6) inset;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    align-content: center;
}

.main-area {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    max-width: 100%;

    h1 {
        font-family: $font-catamaran;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
    }
}

.result-description {
    color: $color-text-light;
    font-family: $font-raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 26px;
}

/* ==== HEADER ==== */
.enterwell-form-header {
    text-align: center;
    margin-bottom: 30px;
    max-width: 100vw !important;
    width: 100%;

    h1 {
        font-family: $font-catamaran;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        opacity: 0.8;
        margin: 35px 0 10px;
    }

    p {
        font-family: $font-raleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        opacity: 0.6;
        max-width: 524px;
        margin: 0 auto;
    }
}

/* ==== UPLOAD SECTION ==== */
.upload-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 275px;
  margin-left: auto;

  .upload-box {
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;

    &.idle, &.dragover, &.success {
        --dash: 10px;
        --gap: 4px;
        --border-width: 1px;

        background:
            /* top */
            repeating-linear-gradient(
            to right,
            var(--border-color) 0 var(--dash),
            transparent var(--dash) calc(var(--dash) + var(--gap))
            ) 0 0 / 100% var(--border-width) no-repeat,

            /* bottom */
            repeating-linear-gradient(
            to right,
            var(--border-color) 0 var(--dash),
            transparent var(--dash) calc(var(--dash) + var(--gap))
            ) 0 100% / 100% var(--border-width) no-repeat,

            /* left */
            repeating-linear-gradient(
            to bottom,
            var(--border-color) 0 var(--dash),
            transparent var(--dash) calc(var(--dash) + var(--gap))
            ) 0 0 / var(--border-width) 100% no-repeat,

            /* right */
            repeating-linear-gradient(
            to bottom,
            var(--border-color) 0 var(--dash),
            transparent var(--dash) calc(var(--dash) + var(--gap))
            ) 100% 0 / var(--border-width) 100% no-repeat;
            background-repeat: no-repeat;
            transition: none; // iskljuÄi tranziciju
    }

    &:hover {
        border-color: $color-border;
    }

    img {
      position: absolute;
      transform: translate(-50%);
    }

    &.idle img, &.dragover img {
        width: 91px;
        top: 140px;
    }

    &.success img {
        width: 164px;
        top: 50px;
    }

    &.error img {
        width: 164px;
        top: 38px;
    }

    p {
        color: $color-border-light;
        font-family: $font-raleway;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    .file-label {
        color: $color-text;
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        text-decoration: underline solid 0%;
        cursor: pointer;
    }

    &.idle, &.success {
        --border-color: rgba(186, 186, 186, 0.45);
    }

    &.dragover {
        background-color: $color-wrapper;
        --border-color: rgba(186, 186, 186);

        #upload-description {
            opacity: 20%;
        } 

        #upload-message {
            font-family: $font-raleway;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $color-border-light;
        }
    }

    &.error {
        border: 1px solid $color-red;

        #upload-message,
        #file-info {
            color: $color-red !important;
        }
    }

    &.danger {
        --border-color: #D9452D;
    }

    #file-info,
    #upload-description {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        width: 100%;
        font-family: $font-raleway;
        letter-spacing: 0;
    }

    #file-info {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $color-text;
    }

    &.error #file-info { top: 264px; }
    &.success #file-info { top: 294px; }

    #upload-description {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: $color-border-light;
        top: 444px;
    }

    &.success #upload-description { top: 408px; }
    &.error #upload-description { top: 394px; }

    &.idle #upload-message,
    &.dragover #upload-message {
        position: absolute;
        top: 245px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        width: 100%;
    }

    &.success #invalid-format-feedback {
        display: none;
    }
  }
}

#invalid-format-feedback {
    color: $color-red;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 517px;
    left: 20px;
    margin: 0;
}

.mt-26{
    margin-top: 26px;
}

/* ==== RIGHT COLUMN ==== */
.fields-column {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 300px;
}

/* ==== FORM GROUPS ==== */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 26px;

    label {
        font-size: 0.9rem;
        color: #ddd;
        font-weight: 500;
        font-family: $font-raleway;
    }

    input, select {
        padding: 10px 0;
        border: 1px solid rgba(255, 255, 255, 0.26);
        border-radius: 5px;
        background: $color-wrapper;
        color: $color-text;
        font-family: $font-raleway;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        outline: none;
        transition: border-color 0.2s ease;

        &:focus { border-color: $color-border; }
  }

  .invalid { border-color: $color-red !important; }

  .invalid-feedback { color: $color-red !important; }

  .feedback {
    display: none;
    font-family: $font-raleway;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: $color-text-muted;
    position: absolute;
    top: 100%;
    left: 18px;
  }

  &.floating {
    position: relative;
    height: 42px;

    input {
        padding: 10px 20px;

        &.invalid:focus + label,
        &:not(:placeholder-shown).invalid + label {
            color: $color-red;
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: $color-border-light;
        font-size: 15px;
        line-height: 20px;
        pointer-events: none;
        transition: all 0.2s ease;
        font-family: $font-raleway;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%);
        background: $color-wrapper;
        padding: 0 5px;
        color: $color-text;
        font-size: 10px;
        left: 15px;
        font-family: $font-raleway;
    }
  }

  &.always-active {
    position: relative;

    > label {
        position: absolute;
        top: 0;
        left: 15px;
        transform: translateY(-50%);
        font-family: $font-raleway;
        font-size: 10px;
        line-height: 20px;
        font-weight: 500;
        color: $color-text;
        background: $color-wrapper;
        padding: 0 5px;
        pointer-events: none;
        z-index: 2;
    }
  }
}

/* ==== FLAG SELECT ==== */
.flag-select {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 8px;
    background: $color-wrapper;
    padding: 0 20px;

    select {
        flex: 1;
        border: none;
        background: transparent;
        color: $color-text;
        font-size: 1rem;
        cursor: pointer;
        appearance: none;
    }

    img {
        width: 24px;
        height: 14px;
    }
}

/* ==== BUTTON ==== */
.btn-primary {
    position: relative;
    z-index: 0;
    background: $color-red;
    font-family: $font-raleway;
    font-size: 16px;
    line-height: 100%;
    color: $color-text;
    border: 0;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    width: 180px;
    height: 40px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        transition: transform 0.3s ease;
  }

  &::before { top: -10px; background-image: url('../img/button-ukras-top.svg'); }
  &::after { bottom: -10px; background-image: url('../img/button-ukras-bottom.svg'); }

  &:hover {
    &::before { transform: translateX(-50%) translateY(-5px); }
    &::after { transform: translateX(-50%) translateY(5px); }
  }

  &:focus { outline-width: 0; }
}

a.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: button;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 160px !important;
    height: 20px !important;
}

.hidden { display: none; }

/* ==== RESPONSIVE ==== */
@media (max-width: 820px) {
    .enterwell-contest-form { 
        grid-template-columns: 1fr; 
    }
    .upload-column { 
        order: -1; 
        margin-left: 0; 
    }
    .enterwell-form-wrapper { 
        padding: 2rem 1.5rem; 
        width: 85%; 
        padding-bottom: 60px; 
    }
    .form-group.floating input { 
        height: 20px; width: 240px;
    }
    .flag-select { 
        width: 240px; 
    }
    #divider, #drop-zone img, #drop-zone #upload-message, #drop-zone #upload-description { 
        display: none; 
    }
    .fields-column { 
        margin-top: -6px;
    }
    .mobile { 
        display: block !important; 
    }
    #drop-zone {
        border-width: 0;
        background: unset;
    }
    #file-container {
        margin-top: 80px;
    }
    #file-upload { 
        height: 20px; 
        padding: 10px 20px; 
        width: 240px; 
        border: 1px solid rgba(255,255,255,0.26);
        border-radius: 5px;
        display: block !important;
    }
}